/*
 * Footer Block - Breathe App
 * Simple dark footer with muted text
 */

footer {
  background-color: transparent;
  font-size: var(--body-font-size-s);
}

footer .footer > div {
  margin: auto;
  max-width: var(--content-max-width);
  padding: 36px 24px 46px;
}

footer .footer p {
  margin: 0;
  color: var(--text-muted);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 36px 32px 46px;
  }
}
